{% extends "layout.njk" %}

{% block head %}
  <title>{{recipe.title}}
    - FoodFy</title>
{% endblock head %}

{% block menu %}
  <div class="container-black">
    <div class="logotipo">
      <a href="/"><img src="/logo-black.png" alt="FoodFy"></a>
    </div>
    <div class="navigation black">
      <a href="/admin/recipes">Receitas</a>
      <a href="/admin/chefs">Chefs</a>
    </div>
  </div>
{% endblock menu %}

{% block content %}
  <div class="header_admin">
    <h3>Receita:
      {{recipe.title}}</h3>
    <div>
      <a class="button" href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
    </div>
  </div>

  <div class="banner_recipe">
    <img src="{{recipe.image}}" alt="{{recipe.title}}">
    <h3>{{recipe.title}}</h3>

    {% for chef in chefs %}
      {% if (chef.id == recipe.chef_id) %}
        <h2>Por
          {{chef.name}}</h2>
      {% endif %}
    {% endfor %}

  </div>

  <div class="ingredients">
    <h3>Ingredientes
      <button class="visibility" type="submit">MOSTRAR</button>
    </h3>

    <div class="recipe-info hide">
      {% for ingredient in recipe.ingredients %}
        <p>-
          {{ingredient}}</p>
      {% endfor %}
    </div>

  </div>
  <div class="preparations">
    <h3>Modo de preparo
      <button class="visibility" type="submit">MOSTRAR</button>
    </h3>
    <div class="recipe-info hide">
      {% for preparation in recipe.preparation %}
        <p>-
          {{preparation}}</p>
      {% endfor %}
    </div>
  </div>
  <div class="information">
    <h3>Informações adicionais</h3>
    <p>{{recipe.information}}</p>
  </div>

{% endblock content %}