{% extends "layout.njk" %}

{% block head %}
    <title>{{recipe.title}}
        - FoodFy</title>
{% endblock head %}

{% block menu %}
    <div class="container-black">
        <div class="logotipo">
            <a><img src="/logo-black.png" alt="FoodFy"></a>
        </div>
        <div class="navigation black">
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
        </div>
    </div>
{% endblock menu %}


{% block content %}
    <div class="header_admin">
        <h3>Receita: {{recipes.title}}</h3>
        <div>
            <a class="button" href="/admin/recipes/{{recipes.id}}/edit">Editar receita</a>
        </div>
    </div>

    <div class="banner_recipe">
        <img src="{{recipes.image}}" alt="{{recipes.title}}">
        <h3>{{recipes.title}}</h3>
        <h2>por {{recipes.chef_name}}</h2>
    </div>

    <div class="ingredients">
        <h3>Ingredientes</h3>

        {% for ingredient in recipes.ingredients %}
            <p>- {{ ingredient }}</p>
        {% endfor %}

    </div>

    <div class="preparations">
        <h3>Modo de preparo</h3>
        {% for preparation in recipes.preparation %}
            <p>- {{preparation}}</p>
        {% endfor %}
    </div>
    
    <div class="information">
        <h3>Informações adicionais</h3>
        <p>{{recipes.information}}</p>
    </div>

{% endblock content %}