{% extends "layout.njk" %}

{% block head %}
  <title>{{recipe.title}}
    - FoodFy</title>
{% endblock head %}

{% block content %}
  <div class="banner_recipe fadeIn">
    <img src="{{recipe.image}}" alt="{{recipe.title}}">
    <h3>{{recipe.title}}</h3>
    <h2>por
      {{recipe.author}}</h2>
  </div>
  <div class="ingredients">
    <h3>Ingredientes
      <button class="visibility" type="submit">MOSTRAR</button>
    </h3>

    <div class="recipe-info hide">
      {% for ingredient in recipe.ingredients %}
        <p>-
          {{ingredient}}</p>
      {% endfor %}
    </div>

  </div>
  <div class="preparations">
    <h3>Modo de preparo
      <button class="visibility" type="submit">MOSTRAR</button>
    </h3>
    <div class="recipe-info hide">
      {% for preparation in recipe.preparation %}
        <p>-
          {{preparation}}</p>
      {% endfor %}
    </div>
  </div>
  <div class="information">
    <h3>Informações adicionais</h3>
    <p>{{recipe.information}}</p>
  </div>
{% endblock content %}