<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style.css">

        {% block head %}
            <title>Inicio - FoodFy</title>
        {% endblock head %}

    </head>

    <body>

        {% block menu %}
            <div class="container-menu">
                <div class="logotipo">
                    <a href="/"><img src="/logo.png" alt="FoodFy"></a>
                </div>
                <div class="navigation">
                    <a href="/about">Sobre</a>
                    <a href="/index">Receitas</a>
                    <a href="/admin">Admin</a>
                </div>
            </div>
        {% endblock menu %}

        <div class="container-body">
            {% block content %}{% endblock content %}
        </div>

        {% block footer %}
            <div class="container-footer">
                <p>Todos direitos reservados, receitas Foodfy.</p>
            </div>
        {% endblock footer %}
        <script src="/script.js"></script>
    </body>

</html>